* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
}

body {
  height: 100vh;
}

.wrapper {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
 
}
.wrapper:hover {
  transition: 1s;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  background-color: rgba(254, 238, 255, 0.7);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.header__title {
  padding: 20px 0;
  text-transform: uppercase;
  text-align: center;
}

.header__logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  
}

.header__text {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.about {
  text-align: center;
}

.span-bold {
  font-weight: 700;
  display: inline-block;
}


.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.skill__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px 10px;
  font-weight: 700;

}

.skill__list-item {
  list-style-type: disc;
}

.title-margin {
  margin: 10px 5px 10px 5px;
}

.text-padding {
  padding: 5px;
}

.footer__title {
  text-align: center;
  padding-bottom: 10px;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.list-link-image {
  width: 32px;
}

.footer__menu {
  margin-bottom: 30px;
}

.footer_list-item {
  padding: 5px 10px;

}

.footer__text {
  padding-top: 20px;
  text-align: center;
}
.footer__text:last-child {
  padding-bottom: 15px;
}

.code__example{
  width: 350px;
  height: 300px;
  position: absolute;
  top: 350px;
  left: 1300px;
  background-color: bisque;
}

.code__example:hover {
  transition: 2s;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.3);
}

.code-text {
  font-size: 15px;
  padding: 30px 10px;
  padding-top: 50px;
}
.example-title {
  padding-top: 30px;
  text-align: center;
}

.example-subtitle {
  text-align: center;
}

.example-link {
  color: black;
  padding-top: 20px;
  display: block;
  text-align: center;
}

.example-link:active,.example-link:focus {
  color: black;
}

.example-hr {
  width: 50%;
  margin: 0 auto;
  border-color: black;
}